/* Colour palette

#003049 - dark blue
#DE1D1D - red
#FF8400 - orange
#FCB62C - yellow
#F1EEDD - beige
*/


body {
    background-color: #F1EEDD;
    color: #003049;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    min-width: 100vh;
}

.header {
    display: flex;
    flex-direction: column;
    border-bottom: 8px solid #FCB62C;
}

.title {
    background-color: #003049;
    color: #FCB62C;
    font-size: 48px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    padding: 16px 0;
}

.footer {
    background-color: #003049;
    color: #FCB62C;
    font-size: 14px;
    display: flex;
    justify-content: center;
    margin-top: auto;
    padding: 8px;
    border-top: 8px solid #FF8400;
}

.menu {
    display: flex;
    background-color: #DE1D1D;
    justify-content: space-around;
    padding: 0;
}

a {
    text-decoration: none;
    font-weight: bold;
    display: flex;
    flex: 1;
}

.submenu {
    flex: 1;
    justify-content: center;
    text-align: center;
    padding: 4px;
    color: #FCB62C;
    border-bottom: 8px solid #FF8400;
}

.submenu:hover {
    background-color: #FCB62C;
    color: #003049;
}

.content {
    display: flex;
    flex-direction: column;
    flex: 1;
    border-bottom: 8px solid #FCB62C;
    padding-top: 24px;
    gap: 16px;
}

.battle {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title2 {
    font-size: 36px;
    font-weight: bold;
    text-align: center;
}

.game {
    display: flex;
    gap: 48px;
    padding: 48px;
    align-items: center;
}

.subtitle {
    font-size: 26px;
    font-weight: bold;
    text-align: center;
}

.playerbox,
.computerbox {
    display: flex;
    flex-direction: column;
    background-color: #003049;
    color: #FCB62C;
    padding: 40px 80px;
    gap: 16px;
    align-items: center;
    width: 250px;
    height: 250px;
    border: 8px solid #FCB62C;
    outline: 8px solid #FF8400;
}

button {
    background-color: #003049;
    border: 4px outset #FF8400;
    color: #F1EEDD;
    font-size: 24px;
    width: 105px;
    padding: 6px;
}

button:hover {
    background-color: #F1EEDD;
    color: #003049;
    transform: scale(1.1);
    transition-duration: 0.4s;
}

button:active {
    transform: translateY(2px);
}

.buttons {
    display: flex;
    gap: 16px;
}

p {
    padding-left: 24px;
}

.para, .parawin, .paralose {
    text-align: center;
}

.parawin {
    font-size: 36px;
    font-weight: bold;
    color:#003049;
    text-shadow: 4px 3px 0 #FCB62C;

}

.paralose {
    font-size: 36px;
    font-weight: bold;
    color: #DE1D1D;
    text-shadow: 4px 3px 0 #FCB62C;

}

.versus {
    color: #003049;
    text-shadow: 4px 3px 0 #FCB62C;
    font-size: 48px;
    font-weight: bolder;
}

.score, .playerscore, .computerscore {
    font-size: 20px;
}